* {
    box-sizing: border-box;
    background-color: #11121a;
    background: #11121a;
}

div.gallery {
    border-radius: 11px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
    border-radius: 11px;
}

div.gallery video {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    color: white;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.title{
    color: white;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 90px;
    padding: 15px;
}

.moreBtn {
    text-align: center;
    margin-top: 20px;
    padding: 15px;
    color: wheat;
    font-size: 30px;
}